body {
    background-color: #333333;
    background-image: url(tlo.png);
    background-size: cover;
    font-family: 'Helvetica', Arial, sans-serif;

}


/* kontener */
.wszystko
{


    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}
/* "Kiedy planujesz wejscie" text  */
#text1
{
    padding-top: 25px;
    color: white;
    -webkit-text-stroke: 1px #020202;
    font-size: 50px;
    font-weight: bold;

}
#text2
{
    color: white;
    -webkit-text-stroke: 1px #020202;
    font-size: 60px;
    font-weight: bold;
    margin: 0 auto;
    width: fit-content;
}


/* Date bar  */
.fa-calendar {
       padding-top: 14px;
       padding-left: 14px;

       color: #333;
       background-color: white;
   }
   .searchBar {
       display: flex;
       margin: 1vw 1vw 1vw 30vw;
       border: 2px solid #ccc;
       border-radius: 30px;
       overflow: hidden;
       width: 800px;


   }

   label {
       padding: 10px;
       background-color: white;
       color: white;
   }

   input[type="text"] {
       flex: 1;
       border: none;
       padding: 15px;
       border-bottom-left-radius: 0;
       border-top-left-radius: 0;
       outline: none;
       font-size: 20px;
   }


/* "Pora dnia" text */
#text2
{
    color: white;
    margin: 1vw 1vw 0 42vw;
    -webkit-text-stroke: 1px #020202;
    font-size: 60px;
    font-weight: bold;
}

/* Przyciski wybor (pora dnia)*/

.wybor {
    display: flex;
    justify-content: center;
    align-items: center; /* Przyciski będą na tej samej wysokości */
    margin-top: 20px; /* Dodano odstęp od góry, możesz dostosować według potrzeb */

}


.wybor button {
    padding: 10px 20px; /* Dostosuj wartości do uzyskania pożądanego odstępu wewnątrz przycisków */
    margin: 0 60px;
    height: 150px;
    width: 200px;
    border-radius: 30px;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wybor button:active {
    border-color: #FFC107; /* Kolor obramowania po kliknięciu */
}

.wybor button:hover {
    border-color: #FFC107; /* Kolor obramowania po kliknięciu */

}



/* Przyciski na dole strony (cofnij/dalej) */

.przyciski {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Przyciski będą na tej samej wysokości */
    margin:10px;
    margin-top: 20px; /* Dodano odstęp od góry, możesz dostosować według potrzeb */
}

#przycisk1 button, #przycisk2 button {
    background-color: #D9D9D9;
    color: #292929;
    font-weight: normal;
    padding: 10px 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 150px;
    height: 40px;
    font-family: 'Helvetica', Arial, sans-serif;

}

#przycisk1 {
    left:0;
    bottom: 0;
}

#przycisk2 {
    right:0;
    bottom: 0;
}

