/* Global Styles */
body {
    background-color: #333333;
    background-image: url(../img/tlo.png);
    background-size: cover;
    font-family: 'Helvetica', Arial, sans-serif;
}

/* Container Styles */
.wszystko {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

/* Choice Buttons (proposed places) */
.wybor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.wybor button {
    padding: 10px 20px;
    margin: 0 10px; /* Adjusted margin for responsiveness */
    height: 150px;
    width: 200px;
    border-radius: 30px;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wybor button:active,
.wybor button:hover {
    border-color: #FFC107;
}

/* "When do you plan to go out" text */
#text1 {
    padding-top: 25px;
    color: white;
    -webkit-text-stroke: 1px #020202;
    font-size: 50px;
    font-weight: bold;
}

/* Combined Text 1 "How would you like to spend the evening" */
.tekstLaczony1 {
    margin: auto;
    width: 80%; /* Adjusted width for responsiveness */
    height: 8.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#text2 {
    position: absolute;
}

#text2 {
    padding-top: 25px;
    color: white;
    -webkit-text-stroke: 1px #020202;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}



/* Proposed Buttons */
.przyciskiProponowane {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
}

.przyciskiProponowane button {
    background-color: #333333;
    color: #FFFFFF;
    font-weight: normal;
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 150px;
    height: 40px;
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 5px;
}

.przyciskiProponowane button:active,
.przyciskiProponowane button:hover {
    border-color: #FFC107;
}

/* Input Bar */
.searchBar {
    display: flex;
    margin: 1vw 1vw 1vw 10vw; /* Adjusted margin for responsiveness */
    border: 2px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
    width: 80%; /* Adjusted width for responsiveness */
}

label {
    padding: 10px;
    background-color: white;
    color: white;
}

input[type="text"] {
    flex: 1;
    border: none;
    padding: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    font-size: 20px;
}

/* Bottom Buttons (back/next) */
.przyciski {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#przycisk1 button,
#przycisk2 button {
    background-color: #D9D9D9;
    color: #292929;
    font-weight: normal;
    padding: 10px 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 150px;
    height: 40px;
}

#przycisk1 {
    left: 0;
    bottom: 0;
}

#przycisk2 {
    right: 0;
    bottom: 0;
}

/* Combined Text 2 "Other proposals" */
.tekstLaczony2 {
    margin: auto;
    width: 80%; /* Adjusted width for responsiveness */
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#text4,
#text5 {
    position: absolute;
}

#text4 {
    padding-top: 25px;
    color: white;
    -webkit-text-stroke: 1px #020202;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}



/* Media Queries */
@media only screen and (max-width: 768px) {
    .wybor {
        flex-direction: column; /* Adjusted direction for smaller screens */
        align-items: center;
    }
    .wybor button {
        margin: 10px 0; /* Adjusted margin for responsiveness */
    }
    .tekstLaczony1,
    .przyciskiProponowane,
    .searchBar,
    .przyciski,
    .tekstLaczony2 {
        width: 100%; /* Adjusted width for responsiveness */
    }
    #text2,
    #text3,
    #text4,
    #text5 {
        font-size: 30px; /* Adjusted font size for responsiveness */
    }
    .przyciskiProponowane button {
        margin: 5px;
    }
    #text2 {
        position: relative;
        font-size: 24px;
        padding-top: 10px;
        text-align: center;
    }
    #text4 {
        position: relative;
        font-size: 24px;
        padding-top: 10px;
        text-align: center;
    }
    #text1 {
        padding-top: 0;
        position: relative;
        font-size: 32px;
        text-align: center;
    }


    .przyciskiProponowane,
    .searchBar {
        margin: 10px 0; /* Adjusted margin for responsiveness */
    }
    .przyciskiProponowane button,
    .searchBar input[type="text"] {
        width: 100%; /* Adjusted width for responsiveness */
    }
}